<%= render "navbar" %>

<div class="container p-4">
  <div class="row">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new list</h3>
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Drama' %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
  </div>
</div>

<div class="container p-4">
  <%= link_to "Back to My Lists", lists_path %>
</div>
